{
    "singleQuote": true,
    "semi": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "printWidth": 100,
    "endOfLine": "auto",
    "bracketSameLine": false,
    "htmlWhitespaceSensitivity": "ignore"
}
